/ Start: Wrapper
div class="wrapper"
  / Start: Header
  header id="header"
    div class="row"
      nav class="top-bar"
        ul class="title-area"
          li class="name"
            h1
              a href="index.html" class="logo"
                span Blast
  / End: Header

  / Start: intro-box
  section id="intro"
    div class="row"
      div class="column"
        h2 class="small-12" Your prototype in one week

        p
          | Get a
          |  sound base to start showing results, build your user base, pitch and
          |  challenge your idea and plan the next steps in a very efficient way.


  / End: intro-box

  / Start: features-box
  section id="features"
    div class="row"
      div class="column"
        h3 class="small-12"
          | What you will need to get your prototype?

        div class="small-12 large-3 columns aligncenter features-box"
          div class="features-img aligncenter"
            img src="/assets/images/blast/idea.jpg"

          div class="features-details"
            h4 Your product idea

        div class="small-12 large-3 columns aligncenter features-box"
          div class="features-img aligncenter"
            img src="/assets/images/blast/code-ninja.png"

          div class="features-details"
            h4 1 developer + 1 designer

        div class="small-12 large-3 columns aligncenter features-box"
          div class="features-img aligncenter"
            img src="/assets/images/blast/clock.png"

          div class="features-details"
            h4 1 week

        div class="small-12 large-3 columns aligncenter features-box"
          div class="features-img aligncenter"
            img src="/assets/images/blast/money.jpg"

          div class="features-details"
            h4 &euro; 7,000
  / End: features-box

  / Start: quote-box
  section id="quote"
    div class="row"
      div class="column"
        div class="alert-box success radius"
          | Thank you! Your message has been sent. We will get back to you real soon.

        div class="small-12 form-wrapper"
          h3 Request a Quote
          form action="#" method="post" class="form-stacked"
            fieldset
              div class="clearfix"
                div class="input"
                  input name="name" type="text" placeholder="Name" required=""

              div class="clearfix"
                div class="input"
                  input name="email" type="email" placeholder="Your Email Address" required=""

              div class="clearfix"
                div class="input"
                  input name="company" type="text" placeholder="Company Name"

              div class="clearfix"
                div class="input"
                  input name="phone" type="tel" placeholder="Contact Number"

              div class="clearfix"
                div class="input custom-dropdown"
                  select name="project_type" class="input-medium"
                    option value="" Select Project type
                    option value="Website" Website
                    option value="Mobile Application" Mobile Application
                    option value="Design" Design
                    option value="Desktop Application" Desktop Application

              div class="clearfix"
                div class="input"
                  textarea rows="10" id="description"  placeholder="Project Details"
              div class="actions"
                input  class="button" type="submit" value="Send"
  / End: quote-box

  / Start: footer-box
  footer
    div id="social-links" class="aligncenter"
      a href="" class="up-arrow"
        i class="icon-angle-up"

      div class="row"
        a href="https://www.facebook.com/nukomeet"
          i class="icon-facebook icon-circled icon-64"
        a href="https://twitter.com/nukomeet"
          i class="icon-twitter icon-circled icon-64"
        a href="https://plus.google.com/+Nukomeet/"
          i class="icon-google-plus icon-circled icon-64"
        a href="http://www.linkedin.com/company/2471989"
          i class="icon-linkedin icon-circled icon-64"

      div class="copyrights"
        | &copy; 2014
        a href="http://www.nukomeet.com" target="_blank"  Nukomeet
        |  All Rights Reserved.
  / End: footer-box
/ End: Wrapper
