%header.page-header
  %h1.page-title Welcome to our blog
%section#main
  - (@site.sorted_articles[0..4]).each do |post|
    %article.entry.clearfix
      .entry-body
        %a{href: "#{post.path}" }
          %h1.title= post[:title]
        %p Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      / end .entry-body
      .entry-meta
        %ul
          %li
            %a{:href => "single-post.html"}
              %span.post-format Permalink
          %li
            %span.title Posted:
            %a{:href => "#"}= post[:created_at]
          %li
            %span.title Tags:
            %a{:href => "#"} Standard
          %li
            %span.title Comments:
            %a{:href => "#"} 3
      / end .entry-meta
    / end .entry
  %ul.pagination
    %li.next
      %a{:href => "#"} ← Next
    %li
      %a{:href => "#"} 1
    %li.current 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
    %li.prev
      %a{:href => "#"} Previous →
/ end #main
%aside#sidebar
  .widget
    %h6.widget-title Categories
    %ul.categories
      %li
        %a{:href => "#"} Design
      %li
        %a{:href => "#"} Awards & Recognition
      %li
        %a{:href => "#"} Competitions
      %li
        %a{:href => "#"} Travel & Tourism
      %li
        %a{:href => "#"} Direct Mail
      %li
        %a{:href => "#"} Environment
  .widget
    %h6.widget-title Twitter Feed
    %ul.tweets-feed
      %li
        Oops, our Twitter feed is unavailable at the moment -
        %a{:href => "http://twitter.com/"} Follow us on Twitter!
