%h2.slogan.align-center
  A multidisciplinary 
  %a{:href => "/about"} team
  crafting mobile apps, websites and complex software
  %br
  We do consulting and share our expertise in technology.
  %br
%h1.baseline.align-center
  %a{:href => "mailto:bonjour@nukomeet.com"}Ask us anything  
%hr
%header.page-header
  %h1.page-title Latest work 
  %ul#portfolio-items-filter
    %li Select
    %li
      %a{"data-categories" => "*"} All
    %li
      %a{"data-categories" => "arch"} Architecture 
    %li
      %a{"data-categories" => "mobile"} Mobile 
    %li
      %a{"data-categories" => "web"} Web 
    %li
      %a{"data-categories" => "open-source"} Open Source 
    %li
      %a{"data-categories" => "iPad"} iPad 
    %li
      %a{"data-categories" => "android"} Android
    %li
      %a{"data-categories" => "iOS"} iOS 
    %li
      %a{"data-categories" => "Node"} Node.js 
    %li
      %a{"data-categories" => "rails"} Ruby on Rails 
    %li
      %a{"data-categories" => "game"} Game 
  / end #portfolio-items-filter
/ end .page-header
%section#portfolio-items.clearfix
  %article.one-third{"data-categories" => "game iPad Node arch web mobile development"}
    %img{:alt => "", :src => "/assets/images/gdf.png"}
    %a.project-meta{:href => "http://gdfsuez.com"}
      %h5.title Serious Game on iPad for GDF
      %span.categories Game / iPad / Node.js / iOs 

  %article.one-third{"data-categories" => "arch web rails development open-source"}
    %img{:alt => "", :src => "/assets/images/coworfing_logo.png"}
    %a.project-meta{href: "/projects/coworfing/"}
      %h5.title Coworfing web 
      %span.categories Web / Rails / Development / Open Source

  %article.one-third{"data-categories" => "mobile android iOS"}
    %img{:alt => "", :src => "/assets/images/coworfing.png"}
    %a.project-meta{href: "/projects/coworfing_mobile/"}
      %h5.title Coworfing mobile 
      %span.categories Mobile / Android / iOS  

  %article.one-third{"data-categories" => "mobile android iOS open-source"}
    %img{:alt => "", :src => "/assets/images/seth.png"}
    %a.project-meta{href: "/projects/seth/"}
      %h5.title Seth Goes Mobile 
      %span.categories Mobile / Android / iOS / Open Source

  %article.one-third{"data-categories" => "saas rails arch web development"}
    %img{alt: "", src: "/assets/images/quickstudio.png"}
    %a.project-meta{:href => "http://quickstudio.com"}
      %h5.title Quick Studio 
      %span.categories Web / Rails / Saas / Development 

  %article.one-third{"data-categories" => "arch web development"}
    %img{alt: "", src: "/assets/images/slicecook.png"}
    %a.project-meta{href: "/projects/slicecook/"}
      %h5.title Slicecook 
      %span.categories Web / Online Marketplace / Rails / Development 

  %article.one-third{"data-categories" => "payment development animation web"}
    %img{alt: "", src:  "/assets/images/freyment.png"}
    %a.project-meta{:href => "#"}
      %h5.title Freyment 
      %span.categories Web / Development / Online Payment

  %article.one-third{"data-categories" => "open-source"}
    %img{alt: "", src:  "/assets/images/vimified.png"}
    %a.project-meta{:href => "https://github.com/zaiste/vimified"}
      %h5.title Vimified 
      %span.categories Open Source 
