.align-center
  %h1.baseline
    We build software
  %h2.slogan
    Nukomeet is a small team who help companies build mobile and web applications.
    %br/
    We do consulting and share our expertise in technology.
  %p
    %a.button.grey.large{href: "/pitch/"} Our Pitch
    %a.button.large{href: "/contact/"} Contact Us

%hr/
%h6.section-title.align-center.strong What We Do

.one-third
  .align-center.lined
    %img{src: '/assets/images/development.png'}
  %h4.align-center Development & Consulting
  %p
    We can advise on and implement products perfectly tailored to meet your needs.
    We provide short term expertise on interesting and challenging projects.

.one-third
  .align-center.lined
    %img{src: '/assets/images/trainings.png'}
  %h4.align-center Trainings
  %p
    We offer in-house, group training classes for Ruby, Rails, Python, Django, Clojure, JavaScript, HTML5/CSS.

.one-third.last
  .align-center.lined
    %img{src: '/assets/images/open-source.png'}
  %h4.align-center Open Source
  %p
    We are active in open source projects development. We mostly help coworking communities.
