.align-center
  %h1.baseline
    We build software
  %h2.slogan
    Nukomeet is a small team who help companies build mobile and web applications.
    %br/
    We do consulting and share our expertise in technology.
  %p
    %a.button.grey.large{href: "/pitch/"} Our Pitch
    %a.button.large{href: "/contact/"} Contact Us

%hr/
%h6.section-title.align-center.strong What We Do

.one-third
  .align-center.lined
    %img{src: '/assets/images/development.png'}
  %h4.align-center Development & Consulting
  %p
    We can advise on and implement products perfectly tailored to meet your needs.
    We provide short term expertise on interesting and challenging projects.

.one-third
  .align-center.lined
    %img{src: '/assets/images/trainings.png'}
  %h4.align-center Trainings
  %p
    We offer in-house, group training classes for Ruby, Rails, Python, Django, Clojure, JavaScript, HTML5/CSS.

.one-third.last
  .align-center.lined
    %img{src: '/assets/images/open-source.png'}
  %h4.align-center Open Source
  %p
    We are active in open source projects development. We mostly help coworking communities.


%hr/
%h6.section-title.align-center.strong Our Clients

.one-fourth.clients.clearfix
  .align-center
    %a{href: 'http://www.headlink-partners.com'}
      %img{alt: "Headlink Partners", src: "/assets/images/headlink-logo.png", height: "75"}/
.one-fourth.clients.clearfix
  .align-center
    %a{href: 'http://www.gdfsuez.com'}
      %img{alt: "GDF Suez", src: "/assets/images/gdf.png", height: "75"}/
.one-fourth.clients.clearfix
  .align-center
    %a{href: 'http://www.freyssinet.com'}
      %img{alt: "Freyssinet", src: "/assets/images/freyssinet-logo.png", height: "75"}/
.one-fourth.last.clients.clearfix
  .align-center
    %a{href: 'http://www.france.imapseurope.org/'}
      %img{alt: "IMAPS France", src: "/assets/images/imaps-logo.png", height: "75"}/
.one-fourth.clients.clearfix
  .align-center
    %a{href: 'http://www.custle.com'}
      %img{alt: "Custle", src: "/assets/images/custle-logo.png", height: "75"}/
