%h1.baseline.align-center
  We make awesome software.
%h2.slogan.align-center 
  %strong Nukomeet 
  is a community of self-managed digital experts.
  %br/
  We use cutting-edge technologies 
  %br/
  to build top-notch apps, for clients or for fun.

%h4 Testimonials 

.one-half
  %blockquote This team is amazing. 
  %strong.align-right Mr Goofy 
.one-half.last
  &nbsp;