%h1.baseline.align-center
  We make software.
%p.align-center
  %img{:src => "/assets/images/nukomeet_av.png"}
%h2.slogan.align-center 
  We are a flat organization company with exceptional talents
  %br
  who are passionate about creating great software.

%h3 Testimonials

.one-half
  %blockquote
    I hired Zaiste and his team to help with setting up new infrastructure for our Rails applications, and to improve existing architecture. We had very smooth communication process. The team was always available to suggest changes and transfer their expertise. We were able to quickly advance with the project and I'm satisfied with results. If you are looking for a first-class Rails experts with DevOps knowledge, you should get in touch with Zaiste.
  %p
    %strong Capucine Surrel, 
    Founder at 
    = link_to 'Custle', 'http://www.custle.com/'

.one-half.last
  %blockquote 
    It has been now more than a year that I work regularly with Alban, requiring his skills on diverse missions related to Wordpress development, web design, SEO, online identity, social media management, technology consulting and web marketing. He has always been efficient, understanding problems quickly, delivering on time with quality and providing the best service. I would definitely recommend him, for highly abstract problem solving, as well as very down to earth tasks.
  %p 
    %strong Marie Boulet
    Founder at
    = link_to 'Ethos', 'http://wwww.ethos.fr'