%h1.baseline.align-center
  We make software.
%p.align-center
  %img{:src => "/assets/images/nukomeet_av.png"}
%h2.slogan.align-center 
  We are flat organization company with exceptional talents
  %br
  who are passionate about creating great software.
  