---
title: Products 
---
%header.page-header
  %h1.page-title Products 
  %ul#portfolio-items-filter
    %li Select
    %li
      %a{"data-categories" => "*"} All
    %li
      %a{"data-categories" => "consulting"} Consulting 
    %li
      %a{"data-categories" => "web"} Web Development 
    %li
      %a{"data-categories" => "mobile"} Mobile Development
    %li
      %a{"data-categories" => "marketing"} Webmarketing 
  / end #portfolio-items-filter
/ end .page-header
%section#portfolio-items.clearfix
  %article.one-third{"data-categories" => "mobile"}
    %img{:alt => "", :src => "/assets/images/products/ios.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title iPhone Application 
      %span.categories We develop native applications for iPhone. Display your content, port your website on mobile.  

  %article.one-third{"data-categories" => "mobile"}
    %img{:alt => "", :src => "/assets/images/products/ipad.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title iPad Application 
      %span.categories Engage your users with playful, engaging and well designed applications. We do broadcasting apps, professional applications, games...  
  
  %article.one-third{"data-categories" => "mobile"}
    %img{:alt => "", :src => "/assets/images/products/android.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Android Development 
      %span.categories Android users grow steadily. We adapt your apps for Android or create it from scratch. Our offers start at 900€.

  %article.one-third{"data-categories" => "mobile"}
    %img{:alt => "", :src => "/assets/images/products/phonegap.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Phonegap 
      %span.categories Tired of developing the same app for iPhone, Android, Windows? We create a multiplatform mobile app in a snap using the Phonegap framework.

  %article.one-third{"data-categories" => "mobile"}
    %img{:alt => "", :src => "/assets/images/products/website.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title HTML5 Mobile App 
      %span.categories Using the latest features of HTML5 and Javascript we craft apps that prevent you from going through the hassles of native development.
        
  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/html.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Website creation 
      %span.categories We use the latest technologies and partner with slilled designers to craft you a website that will be the best reprensentant of your brand on the web.

  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/prestashop.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title E-commerce website 
      %span.categories Get started and start selling in a few days : Prestashop + payment setup + design integration (options : multilingual, international payment, custom design, add-ons) 

  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/rails.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Rails development
      %span.categories Our team has seven years dealing with Ruby on Rails framework. We've done social applications, peer-to-peer lending platform, billing systems, planning management... 
 
  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/mvp.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Minimum Viable Product 
      %span.categories We prototype fastly so you can test your market with a viable product. We help you define the core features, the target market, and we develop in a matter of days. 

  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/wordpress.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Wordpress development  
      %span.categories We tweak and hack the most famous CMS to fit your needs: simple websites, custom themes, custom plugins, buddypress, multilingual platforms, forms, agenda, online payment.
        
  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/tumblr.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Blog 
      %span.categories We set up a blog and customize its design so that you can start expressing yourself and promoting your brand. We can also take care of the content.

  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/payment.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Online Payment Implementation 
      %span.categories We implement a payment solution for your website (EU and USA): Stripe, Paypal, Paybox, Ogone or any other solution that you would prefer.

  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/nginx.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Server setup 
      %span.categories We setup and configuer your server on demand: Nginx, Apache or any needed solution. We provide a sysadmin on demand if required. 

  %article.one-third{"data-categories" => "web"}
    %img{:alt => "", :src => "/assets/images/products/hack.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Custom Hack
      %span.categories You don't want to make mockups or plans? You don't fit into our offers? Just give us your problem, what you can spend, and we come up with a solution

  %article.one-third{"data-categories" => "consulting"}
    %img{:alt => "", :src => "/assets/images/products/consulting.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Creative Problem Solving
      %span.categories Ask our multidisciplinary team to tackle your issues. We have strong expertise in corporate strategy, banking, finance, marketing, business development, project management

  %article.one-third{"data-categories" => "consulting"}
    %img{:alt => "", :src => "/assets/images/products/monitoring.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Technology Monitoring
      %span.categories What are the latest trends in technology? What are your competitors up to? What is being said about you? Ask us or learn how to closely monitor the web

  %article.one-third{"data-categories" => "consulting"}
    %img{:alt => "", :src => "/assets/images/products/security.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Security Audit 
      %span.categories Let our expert assess if your website or application is safe. Receive recommendations and updates in order to stay at bay from external attacks.

  %article.one-third{"data-categories" => "consulting"}
    %img{:alt => "", :src => "/assets/images/products/play.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Specifications 
      %span.categories Have a project but no idea of how to do it? We analyze it and provide you with clear recommendations, a scope, an agenda, and an estimation   
 
  %article.one-third{"data-categories" => "consulting"}
    %img{:alt => "", :src => "/assets/images/products/advising.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Technical advising 
      %span.categories Which language should you choose to develop your application? What kind of database would be required for your situation? Native or HTML5? 

  %article.one-third{"data-categories" => "consulting"}
    %img{:alt => "", :src => "/assets/images/products/scaling.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Scaling support 
      %span.categories How to take your app from 20 to 2 millions users without crashing? We provide you with all the tricks and tools to be able to expand smoothly

  %article.one-third{"data-categories" => "marketing"}
    %img{:alt => "", :src => "/assets/images/products/up.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title SEO
      %span.categories Let us move your website to the top of google's result page for a corresponding search, and draw the masses towards it.

  %article.one-third{"data-categories" => "marketing"}
    %img{:alt => "", :src => "/assets/images/products/analytics.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Analytics
      %span.categories Mesure everything, learn how to know where your users come from, what do they do on your website and to optimize your conversions.
        
  %article.one-third{"data-categories" => "marketing"}
    %img{:alt => "", :src => "/assets/images/products/adwords.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Adwords
      %span.categories We set up your campaign finding the right keywords, the right bets and location. We then monitor and optimize it

  %article.one-third{"data-categories" => "marketing"}
    %img{:alt => "", :src => "/assets/images/products/facebook.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Facebook Advertising
      %span.categories We set up your campaign designing the right ad and targeting the right people. We then monitor and optimize it

  %article.one-third{"data-categories" => "marketing"}
    %img{:alt => "", :src => "/assets/images/products/social.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Social media management
      %span.categories We set up a complete arsenal for social media communication (Twitter, Facebook, Blog, Pinterest). We monitor the social web on a given topic and then produce high quality content that will increase the reputation of your brand and beef up your online community

  %article.one-third{"data-categories" => "marketing"}
    %img{:alt => "", :src => "/assets/images/products/nukomeet.png"}
    %a.project-meta{:href => "mailto:bonjour@nukomeet.com"}
      %h3.title Online Branding
      %span.categories Do you have the right positioning online? How to translate your marketing discourse for the social web? We analyse your brand and advise you on how to increase your reach.
