%header.page-header
  %h1.page-title Our Projects 
  %ul#portfolio-items-filter
    %li Showing
    %li
      %a{"data-categories" => "*"} All
    %li
      %a{"data-categories" => "consulting"} Consulting 
    %li
      %a{"data-categories" => "integration"} Integration 
    %li
      %a{"data-categories" => "arch"} Architecture 
    %li
      %a{"data-categories" => "mobile"} Mobile 
    %li
      %a{"data-categories" => "web"} Web 
    %li
      %a{"data-categories" => "open-source"} Open Source 
  / end #portfolio-items-filter
/ end .page-header
%section#portfolio-items.clearfix
  %article.one-third{"data-categories" => "web mobile development"}
    %img{:alt => "", :src => "/assets/images/coworfing.png"}
    %a.project-meta{:href => "http://coworfing.com"}
      %h5.title Coworfing 
      %span.categories Web / Mobile / Development 

  %article.one-third{"data-categories" => "web development"}
    %img{alt: "", src: "/assets/images/quickstudio.png"}
    %a.project-meta{:href => "http://quickstudio.com"}
      %h5.title Quick Studio 
      %span.categories Web / Development 

  %article.one-third{"data-categories" => "web development"}
    %img{alt: "", src: "/assets/images/slicecook.png"}
    %a.project-meta{:href => "http://slicecook.com"}
      %h5.title Slicecook 
      %span.categories Web / Development 

  %article.one-third{"data-categories" => "animation web"}
    %img{alt: "", src:  "/assets/images/freyment.png"}
    %a.project-meta{:href => "#"}
      %h5.title Freyment 
      %span.categories Web / Development 

  %article.one-third{"data-categories" => "open-source"}
    %img{alt: "", src:  "/assets/images/vimified.png"}
    %a.project-meta{:href => "https://github.com/zaiste/vimified"}
      %h5.title Vimified 
      %span.categories Open Source 
