%header.page-header
  %h1.page-title.align-left Meet Our Guild 
  .clearfix
  %h2.page-subdescription
    %strong Our success - people we employ.
    Consectetur adipisicing elit, ut labore et dolore magna aliqua. Praesent dapibus, neque id cursus faucibus, tortor neque egesaugue, eu vulputate magna eros eu erat.
/ end .page-header
.team-member.one-fourth
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name Alban Leveau-Vallier 
      %span.job-title Principal 
      %p Grew up wandering between several kingdoms of Europes. He developed an early interest for the languages of the tribes we was visiting. It is only after a lot of time trying to understand the secrets of philosophy that he turned his appetite toward craft. He then enclosed himself in a cave to learn the artifacts of HTML5/CSS3, to play with the lutins of Wordpress and to master the powerful techniques of RoR. As a polyglot mage he is able to cast with the same proficiency spells of inner &amp; outer world. Some people say his ancestors were dragons.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name Bartlomiej Wiaduch
      %span.job-title Principal designer
      %p Bartek is Rails wiz who likes to cast spells on every aspect of the object, to have power over it from the early beginning. His magic began from testing banking systems, casting on corporate ogres with Ruby and Rails.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name Tomasz Kuklis 
      %span.job-title Principal designer
      %p is a mage, experienced with Ruby and mastering front-end spirits. He can summon powerful real-time, creatures using BackBone.js. His speed of casting spells is already legendary and he never lacks Mana.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth.last
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name Zaiste! 
      %span.job-title λ aficionado
      %p Kind of Digital Zorro. He used to protect wealthy kingdoms using Java EE magic. Now he mainly casts his spells using Ruby &amp; Lisp dialects. He is fond of controlling text spirits thanks to his vast Vim knowledge. According to some legends as a child he lived among Unix daemons.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth.last
%hr
.team-member.one-fourth
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name John Doe
      %span.job-title Principal designer
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name John Doe
      %span.job-title Principal designer
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name John Doe
      %span.job-title Principal designer
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth
.team-member.one-fourth.last
  %img.photo{:alt => "", :src => "http://c4600283.r83.cf2.rackcdn.com/html-placeholders/team-member.jpg"}
    .content
      %h4.name John Doe
      %span.job-title Principal designer
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.
    / end .content
    %ul.social-links
      %li.twitter
        %a{:href => "#"} Twitter
      %li.facebook
        %a{:href => "#"} Facebook
      %li.skype
        %a{:href => "#"} Skype
      %li.linkedin
        %a{:href => "#"} LinkedIn
      %li.googleplus
        %a{:href => "#"} Google+
      %li.email
        %a{:href => "#"} Email
    / end .social-links
/ end .team-member.one-fourth.last
