%article.single-project
  %header.page-header
    %h1.page-title.align-left Project: Coworfing Mobile
    .clear

  #main
    .image-gallery-slider
      %ul
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "Home", :target => "_blank"}
            %img{:alt => "Home", :src => "/assets/images/projects/coworfing_mobile1.png"}
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "List of the surrounding places.", :target => "_blank" }
            %img{:alt => "Altered", :src => "/assets/images/projects/coworfing_mobile2.png"}
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "Map of the surrounding places.", :target => "_blank"}
            %img{:alt => "Altered", :src => "/assets/images/projects/coworfing_mobile3.png"}
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "Place profile page.", :target => "_blank"}
            %img{:alt => "Altered", :src => "/assets/images/projects/coworfing_mobile4.png"}

  #sidebar
    %h4 Overview
    %p Coworfing Mobile is a mobile application that integrates with Coworfing.com, built in JavaScript using PhoneGap and jQuery Mobile.
    %p
    %h4 Technologies
    %ul.check
      %li JavaScript
      %li jQuery Mobile
      %li PhoneGap
    %p
      %a.button{href: "https://play.google.com/store/apps/details?id=com.workshop"} Download the app
    %p