%article.single-project
  %header.page-header
    %h1.page-title.align-left Our Impact 
    .clear
    %h2 Coworfing 

  #main
    .image-gallery-slider
      %ul
        %li
          %a.single-image{:href => "/images/placeholders/single-project-1.jpg", :rel => "single-project", :title => "Altered - Something abstract."}
            %img{:alt => "Altered", :src => "http://cambelt.co/680x420"}
        %li
          %a.single-image{:href => "/img/placeholders/single-project-2.jpg", :rel => "single-project", :title => "Altered - Something abstract."}
            %img{:alt => "Altered", :src => "http://cambelt.co/680x420"}
        %li
          %a.single-image{:href => "img/placeholders/single-project-3.jpg", :rel => "single-project", :title => "Altered - Something abstract."}
            %img{:alt => "Altered", :src => "http://cambelt.co/680x420"}

  #sidebar
    %h4 Overview
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam.
    %p Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo.
    %h4 Scope 
    %ul.check
      %li Rails 3.2
      %li PostgreSQL
      %li RSpec 
    %p
      %a.button{href: "http://coworfing.com"} Launch
