%article.single-project
  %header.page-header
    %h1.page-title.align-left Our Impact 
    .clear
    %h2 Coworfing 

  #main
    .image-gallery-slider
      %ul
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "Home page.", :target => "_blank"}
            %img{:alt => "Home", :src => "/assets/images/projects/coworfing1.png"}
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "Map of the surrounding places.", :target => "_blank" }
            %img{:alt => "Altered", :src => "/assets/images/projects/coworfing2.png"}
        %li
          %a.single-image{:href => "http://coworfing.com", :rel => "single-project", :title => "Place profile.", :target => "_blank"}
            %img{:alt => "Altered", :src => "/assets/images/projects/coworfing3.png"}

  #sidebar
    %h4 Overview
    %p As nomads - freelancers, entrepreneurs, students and teleworkers - we created Coworfing to share the places where we like to work: Cafés, bars, coworking spaces, librairies, airports, parks, and even our own homes.
    %p 
    %h4 Scope 
    %ul.check
      %li Rails 3.2
      %li PostgreSQL
      %li RSpec 
    %p
      %a.button{href: "http://coworfing.com"} Launch
