%article.single-project
  %header.page-header
    %h1.page-title.align-left Our Impact 
    .clear
    %h2 Seth Goes Mobile 

  #main
    .image-gallery-slider
      %ul
        %li
          %a.single-image{:href => "http://sethgoesmobile.herokuapp.com", :rel => "single-project", :title => "List of articles.", :target => "_blank"}
            %img{:alt => "Home", :src => "/assets/images/projects/seth1.png"}
        %li
          %a.single-image{:href => "http://sethgoesmobile.herokuapp.com", :rel => "single-project", :title => "Single article view", :target => "_blank" }
            %img{:alt => "Altered", :src => "/assets/images/projects/seth2.png"}

  #sidebar
    %h4 Overview
    %p A simple application that can fetch any RSS feed and display it on any mobile platform. 
    %p 
    %h4 Scope 
    %ul.check
      %li Android 
      %li iOS
      %li Windows Phone 
    %p
      %a.button{href: "http://sethgoesmobile.herokuapp.com"} Visit the app
    %p
      %a.button{href: "http://github.com/nukomeet/sethgoesmobile"} Browse the code