%article.single-project
  %header.page-header
    %h1.page-title.align-left Our Impact 
    .clear
    %h2 Slicecook 

  #main
    .image-gallery-slider
      %ul
        %li
          %a.single-image{:href => "/images/placeholders/single-project-1.jpg", :rel => "single-project", :title => "Altered - Something abstract."}
            %img{:alt => "Altered", :src => "http://cambelt.co/680x420"}
        %li
          %a.single-image{:href => "/img/placeholders/single-project-2.jpg", :rel => "single-project", :title => "Altered - Something abstract."}
            %img{:alt => "Altered", :src => "http://cambelt.co/680x420"}
        %li
          %a.single-image{:href => "img/placeholders/single-project-3.jpg", :rel => "single-project", :title => "Altered - Something abstract."}
            %img{:alt => "Altered", :src => "http://cambelt.co/680x420"}

  #sidebar
    %h4 Overview
    %p Slicecook is a curated marketplace for design slicing. We connect people who are looking for a quality design slicing with hand-picked coders all over the world. 
    %p Our mission is to provide a fast, quality service to slice graphics (PSD et al.) for any output format you can imagine: XHTML, Wordpress, Magento, Rails/Haml et al. 
    %h4 Scope 
    %ul.check
      %li Rails 3.2
      %li PostgreSQL
      %li RSpec 
    %p
      %a.button{href: "http://slicecook.com"} Launch
