h2.about About Adrien

markdown:

  Adrien is crazy programmer with heavy interest in both frontend and backend technologies; currently with focus on AngularJS. He is also a Breton if you know what that means...

  Read [all of Adrien's posts][1], [follow him on Twitter][2] and check his [personal website][3].

  [1]: http://nukomeet.com/nulog/adrien/
  [2]: http://twitter.com/adriengiboire
  [3]: http://adriengiboire.com
