h2.about About Alban

markdown:
  Alban is Nukomeet cofounder.

  Read [all of Alban's posts][1] and [follow him on Twitter][2].

  [1]: http://nukomeet.com/nulog/albanlv/
  [2]: http://twitter.com/albanlv
