h2.about About Tomek

markdown:
  Tomek is a partner at Nukomeet.

  Read [all of Tomek's posts][1], [follow him on Twitter][2] and check his [personal website][3].

  [1]: http://nukomeet.com/nulog/tomkuk/
  [2]: http://twitter.com/tomkuk
  [3]: http://
