h2.about About Bartłomiej

markdown:
  Bartłomiej is a partner at Nukomeet.

  Read [all of Bartłomiej's posts][1], [follow him on Twitter][2].

  [1]: http://nukomeet.com/nulog/tukan/
  [2]: http://twitter.com/tukan2can