h2.about About Julien

markdown:
  Julien is a partner at Nukomeet.

  Read [all of Julien's posts][1], [follow him on Twitter][2] and check his [personal website][3].

  [1]: http://nukomeet.com/nulog/yaroq/
  [2]: http://twitter/yaroq
  [3]: http://
