h2.about About the author

markdown:
  Zaiste co-founded Nukomeet in 2012. He likes languages both natural and artificial.

  Read [all of Zaiste's posts][1], [follow him on Twitter][2] or check his [personal website][3].

  [1]: /nulog/zaiste/
  [2]: http://twitter.com/zaiste
  [3]: http://zaiste.net
