h2.about About Zaiste

markdown:
  Zaiste co-founded Nukomeet in 2012. Programming relaxes him. He adores being wrong.

  Read [all of Zaiste's posts][1], [follow him on Twitter][2] and check his [personal website][3].

  [1]: /nulog/zaiste/
  [2]: http://twitter.com/zaiste
  [3]: http://zaiste.net
