@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster13Regular';
    src: url('/fonts/Lobster_1.3-webfont.eot');
    src: url('/fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Lobster_1.3-webfont.woff') format('woff'),
         url('/fonts/Lobster_1.3-webfont.ttf') format('truetype'),
         url('/fonts/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fontface {
    font: 70px/78px 'Lobster13Regular', Arial, sans-serif;letter-spacing: 0;
    color: #3C7AA3;
    text-align: center;
}

p.style1 {font: 18px/27px 'BebasNeueRegular', Arial, sans-serif;}


