.baseline {
  text-transform: uppercase;
}

.align-center a.button {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.section-title {
  margin-bottom: 30px;
}

.lined {
  border-top: 1px solid #CCC;
  padding-top: 30px;
}

.strong {
  font-size: 22px;
}
