body {
  background-color: #EAEAEA;
  border-top: 12px solid #3C7AA3;
  padding-top: 60px;
}
h1 {
  font-size:90px;
}

hr {
  color: #CCC;
}

.main {
  position: relative;
}
.main h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.main p {
  margin-bottom: 18px;
  font-weight: 300;
}
.main .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.intro {
  margin-bottom: 54px;
}
.intro h1{
  text-align: center;
}


.intro h1 {
  margin-top: 30px;
  margin-bottom: 18px;
}
.intro p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.desc {
  padding-top: 12px;
  margin-bottom: 72px;
}
.desc h1, .desc p {
  text-align: center;
}
.desc h1 {
  margin-bottom: 18px;
}
.desc p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

hr.soften {
  height: 1px;
  margin: 44px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

hr.neat {
  height: 1px;
  margin: 12px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.post p {
  font-size: 16px;
  line-height: 24px;
}

.inner p{
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    line-height: 24px;
}

.intro h3{
    text-align: center;
    letter-spacing: 1.2px;
}

ul#tab.nav.nav-tabs a{
    font-size: 24px;
    color: #3C7AA3;
}

ul#tab.nav.nav-tabs li.navig{
    padding-left: 55px;
}

