@font-face {
    font-family: Gotham;
    src: url('Gotham-Book.otf');
}

@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url('Gotham-Bold.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('Gotham-Light.otf');
}
@font-face {
    font-family: Cassannet;
    font-weight: bold;
    src: url('Cassannet.otf');
}

body {
  background-image: url('/assets/images/concrete.jpg');
  border-top: 10px solid #377e86;
  padding-top: 20px;
  font-family: Gotham, sans-serif;
}

h1 {
  font-size:100px;
  margin:70px 0px 30px 0px;
  font-family: Cassannet, sans-serif;
  color: #edf1f1; 
  text-shadow:4px -1px #377E86;
  text-align: center;
}

h2{
    text-align: center;
    color: #377e86;
    font-size: 30px;
    letter-spacing: 3px;
    font-family:  Gotham-Light;
    margin-bottom: 30px;
}
a{
    color: #377e86;
}
a:hover{
    color: #377e86;
}

#myTabContent.tab-content.container{
     background-color:#edf1f1; 
     border-radius : 10px;
     margin-top: -85px;
     height: 450px;
 }
          
hr {
  color: #CCC;
}

.main {
  position: relative;
}

.main .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.intro p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.desc {
  padding-top: 12px;
}
.desc p {
  text-align: justify;
}
.desc p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

hr.neat {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
p{
  font-family: Gotham, sans-serif;
  }

.post p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.inner p{
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 24px;
}

h3{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #377e86;
    margin-bottom: 15px;
}
ul#tab.nav.nav-tabs {
    border-bottom: 0px solid white;
}

ul#tab.nav.nav-tabs a{
    font-size: 24px;
    color: #edf1f1; 
    padding-top:10px;
    padding-bottom:5px;
}

ul#tab.nav.nav-tabs li.navig a{
    padding: 15px 30px 0px 30px ;
    height: 30px;
    }

ul#tab.nav.nav-tabs li.active.navig a{
    background-color: #377e86;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0px;
}

ul#tab.nav.nav-tabs li.navig a:hover{
    background-color: #377e86;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0px;
}

.tab-pane.fade{
    margin-top:120px;
}


.post ol li {
  font-size: 16px;
  line-height: 24px;
}

#techno p{
    font-size: 24px;
}

.bio{
    padding-right: 5px;
}
