!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      Nukomeet, crafting applications
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.1/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js", :type => "text/javascript"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js", :type => "text/javascript"}
    %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js", :type => "text/javascript"}
    %link{:href => "/stylesheet/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet/font.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet/style.css", :rel => "stylesheet"}
    %meta{:content => "nanoc 3.3.1", :name => "generator"}
  %body
    .container
      %header.main.intro
        .inner
          %h1
            NUKOMEET
          %h2 
            WE   CODE.
          %p &nbsp;
          %ul#tab.nav.nav-tabs
            %li.active.navig
              %a{"data-toggle" => "tab", :href => "#team"} 
                TEAM
            %li.navig
              %a{"data-toggle" => "tab", :href => "#techno"} 
                TECHNOLOGIES
            %li.navig
              %a{"data-toggle" => "tab", :href => "#work"} 
                WORK
            %li.navig
              %a{"data-toggle" => "tab", :href => "#projects"} 
                PROJECTS
            %li.navig
              %a{:href => "mailto:bonjour@nukomeet.com"} 
                HIRE US
            %li.navig
              %a{"data-toggle" => "tab", :href => "#apply"} 
                APPLY
            %li.navig  
              %a{:href => "/blog/"} 
                BLOG 
          %p &nbsp;          
          %p &nbsp;          
          #myTabContent.tab-content.container
            #team.tab-pane.fade.in.active
              .pics{:style => "text-align:center"}
                %a{:href => "http://lukaszkups.pl/"}     
                  %img.pic.bio#bio1{:src => "assets/images/lukasz.jpg", :title => "Ofca", "data-content" => "Ofca has always wanted to be a graphic designer but one day he discovered a new passion that changed everything. Some dark forces called Ruby On Rails called his soul. They possessed him like daemons and he began to program more and more.<br/> Today, Ofca is working and learning at Nukomeet while at the same time developing his original-skills as a graphic designer.<br/> Together with his brother they achieved an old-school-looking pixel platform flash game named Terry Poorflyer and are making another one, this time for Android platform."}
                %a{:href => "https://github.com/tomkuk"}  
                  %img.bio#bio2.pic{:src => "assets/images/tomek.jpg", :title => "Tomek Kuklis", "data-content" => "is a mage, experienced with Ruby and mastering front-end spirits.<br/> He can summon powerful real-time, creatures using BackBone.js<br/> His speed of casting spells is already legendary and he never lacks Mana."}
                %a{:href => "https://github.com/2can"}  
                  %img.bio#bio3.pic{:src => "assets/images/bartek.jpg", :title => "Bartlomiej Wiaduch", "data-content" => "is Rails wiz who likes to cast spells on every aspect of the object, to have power over it from the early beginning.<br/> His magic began from testing banking systems, casting on corporate ogres with Ruby and Rails."}
                %a{:href => "http://zaiste.net"}  
                  %img.bio#bio4.pic{:src => "assets/images/zaiste.jpg", :title => "Zaiste", "data-content" => "is a λ aficionado, a sorcerer submitted to functional gods.<br/>In the past he was protecting wealthy kingdoms using Java EE based magic. <br/>Now he mainly casts his spells using Ruby & Lisp dialects. He is fond of controlling text spirits thanks to his vast Vim knowledge. <br/>According to some legends as a child he lived among daemons inside Unix realms."}
                %a{:href => "http://alban.leveau-vallier.com"}
                  %img.bio#bio5.pic{:src => "assets/images/alban.jpg", :title => "Alban Leveau-Vallier", "data-content" => "grew up wandering between several kingdoms of Europes. He developed an early interest for the languages of the tribes we was visiting.<br/>It is only after a lot of time trying to understand the secrets of philosophy that he turned his appetite toward craft.<br/>He then enclosed himself in a cave to learn the artifacts of HTML5/CSS3, to play with the lutins of Wordpress and to master the powerful techniques of RoR. <br/>As a polyglot mage he is able to cast with the same proficiency spells of inner & outer world. <br/>Some people say his ancestors were dragons."}
              %hr.soften/
              .join
                %p
                  Have no fear, stranger.
                %p
                  Find us 
                  = link_to 'on the HipChat', 'https://www.hipchat.com/g4T5W6KqS'
                %p
                  or ask to join the guild.
                %script{:src => "http://platform.linkedin.com/in.js", :type => "text/javascript"}   api_key: whtrv75ydlzq
                %p
                  %script{"data-companyname" => "nukomeet", "data-email" => "albanlv@gmail.com", "data-joblocation" => "", "data-jobtitle" => "Haxor", "data-phone" => "required", :type => "IN/Apply"}
            #techno.tab-pane.fade
              %p Clojure Java Python Ruby Scala
              %p &nbsp;          
              %p HTML5 CSS JavaScript iOS Android
            #work.tab-pane.fade
              .row
                .span4
                  %h3 Quickstudio
                  %p.pull-right Quickstudio is a Saas for music studios. Our team is creating the version 2 using Ruby on Rails.
                .span4
                  %h3
                    Frayment
                  %p.pull-right Frayment is an online payment system developped for a company that sells online tickets.
                .span4
                  %h3 
                    You? 
                  %p.pull-right
                    We provide 15% of the amount of a contract to the contact that brought it to us. 
                  %p.pull-right 
                    You know about someone who could need us? 
                    %a{:href => "mailto:bonjour@nukomeet.com"} Let us know
                    
            #projects.tab-pane.fade
              .row
                .span4
                  %h3
                    Coworfing
                  %p

                    We are a network of teleworkers, freelancers and entrepreneurs. We put in common our workplaces and cowork together. Find places to work anywhere and stop working alone.
                  %p
                    %a{:src => "http://coworfing.com"} Ask to be invited.
                .span4
                  %h3
                    Lawve.me
                  %p
                    We automate the writing of legal texts (contracts, company creation, legal mentions, privacy policy...). 
                  %p
                    %a{:src => "http://lawve.me/"} Try it yourself.
                .span4
                  %h3
                    Your awesome idea
                  %p
                    You have an awesome idea and you would like to submit it? 
                  %p
                    %a{:href => "mailto:bonjour@nukomeet.com"} Tell us.
              %hr.soften/
            #apply.tab-pane.fade
              %p
                Write us at 
                %a{:href => "mailto:bonjour@nukomeet.com"} bonjour@nukomeet.com
                or simply apply with LinkedIn. 
              %p
                Please provide a link to your Github account.
                %script{"data-companyname" => "nukomeet", "data-email" => "albanlv@gmail.com", "data-joblocation" => "", "data-jobtitle" => "Haxor", "data-phone" => "required", :type => "IN/Apply"}
          
      .row
        .span12{:style => "text-align: center; color: #999;"}
          %p &nbsp;
          %p
            This website was developed in nanoc by 
            %a{:href => "http://zaiste.net"}Zaiste
            , designed by
            %a{:href => "http://emiland.me"}EmilandDC
            , implemented by 
            %a{:href => "http://alban.leveau-vallier.com"}Albanlv
    / /container

  =render('_ganalytics') 
  :javascript
    jQuery(function() {                                         
    $(".bio").popover(
    {
    placement: 'top'
    }
    );
    });
