%nav#main-nav
  %ul
    %li= link_to_with_current 'Home', '/', 'Here be dragons'
    %li= link_to_with_current 'Team', '/team/', 'Meet the guild'
    %li= link_to_with_current 'Projects', '/projects/', 'Our impact'
    %li= link_to_with_current 'Blog', '/blog/', 'Our thoughts'
