%nav#main-nav
  %ul
    %li= link_to 'Home', '/', :'data-description' => 'Here be dragons'
    %li.current= link_to 'Our Team', '/team/', :'data-description' => 'Meet the guild'
    %li= link_to 'Projects', '/projects/', :'data-description' => 'Our impact'
    %li= link_to 'Blog', '/blog/', :'data-description' => 'Our thoughts'
/ end #main-nav
