%nav#main-nav
  %ul
    %li= link_to_with_current 'Home', '/', ''
    %li= link_to_with_current 'About Us', '/about/', 'Our approach'
    %li= link_to_with_current 'Projects', '/projects/', 'Our impact'
    %li= link_to_with_current 'Nulog', '/nulog/', 'Our thoughts'
