%section#main
  %article.entry.single.clearfix
    .entry-body
      %a{:href => "#"}
        %h1.title= @item[:title] 
      = yield
    .entry-meta
      %ul
        %li
          %a{:href => "single-post.html"}
            %span.post-format Permalink
        %li
          %span.title Posted:
          %a{:href => "#"}= @item[:created_at]
