!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Nukomeet, crafting applications
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.1/bootstrap.min.js", :type => "text/javascript"}
    %link{:href => "/stylesheet/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet/font.css", :rel => "stylesheet"}
    %link{:href => "/stylesheet/style.css", :rel => "stylesheet"}
    %meta{:content => "nanoc 3.3.1", :name => "generator"}
  %body
    .container
      %h4
        %a{:href => "http://nukomeet.com"} Back home
        %p &nbsp;
      .row
        .span8.post
          %h2= link_to(@item[:title], @item.path)
          %hr.neat/
          = yield
        - unless @item.identifier == "/blog/"
          .span4.sidebar
            %h3 More posts
            %p &nbsp;
            %hr.neat/
            - (@site.sorted_articles[0..4]).each do |post|
              %h4
                = link_to(post[:title], post.path)
                %small= post[:created_at]
    / /container
